.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 20px;
}

.input-width {
    width: 250px;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.alert {
    color: red;
    width: 250px;
    text-align: center;
}